<div class="task_form">
  <%= form_with(model: @task, local: true) do |f| %>
    <%= render 'common/error', variable: @task %>
    <div class="form_name">
      <%= f.label :name, '名前' %>
      <%= f.text_field :name %>
    </div>
    <div class="form_detail">
      <%= f.label :detail, '詳細' %>
      <%= f.text_area :detail %>
    </div>
    <div class="form_deadline">
      <%= f.label :deadline, '終了期限' %>
      <%= f.datetime_select :deadline,
        use_month_numbers: true,
        start_year: Time.current.year,
        end_year: Time.current.year + 10,
        default: DateTime.now,
        date_separator: '/'
      %>
    </div>
    <div class="form_status">
      <%= f.label :status, 'ステータス' %>
      <%= f.select :status, Task.statuses.keys %>
    </div>
    <div class="form_priority">
      <%= f.label :priority, '優先度' %>
      <%= f.select :priority, Task.priorities.keys %>
    </div>
    <div class="form_submit">
      <%= f.submit '登録' %>
    </div>
  <% end %>
</div>
