<div class="container">
  <div class="search_form">
    <%= form_with(url: search_tasks_path, method: :get, local: true) do %>
      <%= text_field_tag :search_word %>
      <%= select_tag :search_status, options_for_select([['未着手', 0],['着手中', 1],['完了', 2]]),
        { class: 'search_select', prompt: 'ステータス' } %>
      <%= select_tag :search_priority, options_for_select([['低', 0],['中', 1],['高', 2]]),
        { class: 'search_priority', prompt: '優先度' } %>
      <%= submit_tag '検索' %>
    <% end %>
  </div>
  <div class="new_post">
    <%= link_to '新規タスク登録', new_task_path %>
  </div>
  <div class="sort">
    <%= form_with(url: sort_tasks_path, local: true) do |f| %>
      <%= select_tag :sort, options_for_select([["投稿が新しい順","created_at"],["終了期限が早い順","deadline"]]),
        { class: 'sort_select' } %>
      <%= submit_tag "ソート" %>
    <% end %>
  </div>
  <% if @tasks.present? %>
    <% @tasks.each do |task| %>
      <div class="task">
        <div class="task_header">
          <div class="task_status">
            <%= task.status %>
          </div>
          <h4 class="task_name task_row"><%= task.name %></h4>
          <div class="task_priority">
            <%= task.priority %>
          </div>
          <%= link_to '詳細', task_path(task.id), class: 'task_show' %>
          <%= link_to '編集', edit_task_path(task.id) %>
          <%= link_to '削除', task_path(task.id), method: :delete, data: { confirm: '削除してよろしいですか？' } %>
        </div>
        <div class="task_detail">
          <%= task.detail %>
        </div>
        <div class="task_deadline">
          <% deadline_date = task.deadline.to_date %>
          <% num = (deadline_date - Date.today).to_i %>
          <% if num.negative? %>
            <%= '終了期限を過ぎています' %>
          <% else %>
            <%= "あと#{num}日" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <%= '検索結果に該当するタスクはありません' %>
  <% end %>
  <div class="page">
    <%= paginate @tasks %>
  </div>
</div>
