<div class="container">
  <div class="task_deadline show_task_deadline">
    <% deadline_date = @task.deadline.to_date %>
    <% num = (deadline_date - Date.today).to_i %>
    <% if num.negative? %>
      <%= 'このタスクは終了期限を過ぎています' %>
    <% else %>
      <%= "あと#{num}日" %>
    <% end %>
  </div>
  <table>
    <tr>
      <th><%= 'タスク名' %></th>
      <td><%= @task.name %></td>
    </tr>
    <tr>
      <th><%= 'タスク詳細' %></th>
      <td><%= @task.detail %></td>
    </tr>
    <tr>
      <th><%= 'ステータス' %></th>
      <td><%= @task.status %></td>
    </tr>
    <tr>
      <th><%= '優先度' %></th>
      <td><%= @task.priority %></td>
    </tr>
    <% if @task.labels.present? %>
      <tr>
        <th><%= 'ラベル' %></th>
        <td>
          <% @task.labels.each do |l| %>
            <span class="label"><%= l.name %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr>
      <th><%= '終了期限' %></th>
      <td><%= l @task.deadline %></td>
    </tr>
  </table>
</div>
